---
import { MobileMenu } from "../components/MobileMenu";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work">
  <MobileMenu client:only="preact" />
  <main class="relative">
    <div class="flex min-h-screen flex-col justify-between p-3">
      <h1>Work</h1>
    </div>
  </main>
</Layout>
